PORT=5000
MONGODB_URI=mongodb://localhost:27017/kathmandu_smart_bus
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=1d
FCM_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name
REDIS_URL=redis://localhost:6379
